.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.flex-item {
  min-width: 300px;
  flex: 1;
}